# ================================
# 🔒 ENVIRONMENT
# ================================
.venv/
env/
venv/
ENV/

# ================================
# 🧠 PYTHON CACHE
# ================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ================================
# 📊 JUPYTER
# ================================
.ipynb_checkpoints/

# ================================
# 📦 DATA (PENTING 🔥)
# ================================
Data/train/
Data/test/
Data/train_clean/
Data/train_cropped/

# kalau mau tetap simpan struktur folder:
!Data/.gitkeep

# ================================
# 📤 OUTPUT / MODEL
# ================================
outputs/
models/
*.pth
*.pt

# ================================
# 📝 LOGS
# ================================
*.log

# ================================
# ⚙️ SYSTEM FILES
# ================================
.DS_Store
Thumbs.db

# ================================
# 📄 DOCS (optional)
# ================================
*.docx